@model IEnumerable<CompareModel>
@{
    ViewData["title"] = "List Compare";
    var key = 0;
}
<h3>Danh sách Sản phẩm so sánh</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compareItem in Model)
        {
            key++;
            <tr>
                <td>@key</td>
                <td>@compareItem.Product.Name</td>
                <td>@Html.Raw(@compareItem.Product.Description)</td>
                <td>@String.Format("{0:0,0} VNĐ", compareItem.Product.Price)</td>
                <td><img src="~/media/products/@compareItem.Product.Image" width="120"></td>
                <td>
                    <a asp-action="DeleteCompare" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Home" asp-route-Id="@compareItem.Product.Id">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
